<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Report Issue</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <div data-comp-id="div.1" style="margin: 10% 10% 4%;">
            <div class=" light" data-comp-id="text.1" style="font-size: 18px;">Category</div>
            <select-list data-comp-id="selectList.1" label-class="required"
                ng-model="data.category" placeholder="Category"></select-list>
        </div>
        <div data-comp-id="div.2" style="margin: 2% 10% 4%;">
            <div class=" light" data-comp-id="text.2" style="font-size: 18px;">Summary</div>
            <label class="item item-input" data-comp-id="textInput.1"
                style="margin: 2px 0px; border-radius: 10px;">
                <span class="input-label required"></span>
                <input ng-model="data.summary" type="text">
            </label>
        </div>
        <div data-comp-id="div.3" style="margin: 2% 10%;">
            <div class=" light" data-comp-id="text.3" style="font-size: 18px;">Description</div>
            <label class="item item-input item-stacked-label light-bg"
                data-comp-id="textAreaInput.1">
                <span class="input-label required positive"></span>
                <textarea ng-model="data.description" rows="4"></textarea>
            </label>
        </div>
        <div data-comp-id="div.4" style="margin: 2% 10%;">
            <label class="item" data-comp-id="takePhoto.1"
                ng-class="{'item-input item-button-right': style === 'control'}"
                take-photo="control">
                <span class="input-label" ng-if="style === 'control'">Take Photo</span>
                <button class="button button-icon" ng-if="style === 'control'">
                    <i class="icon positive-icon ion-camera"></i>
                </button>
                <input disabled="" ng-if="style === 'control'" type="text">
                <button class="button button-block button-positive nomargin"
                    ng-if="style === 'button'">Take Photo</button>
                <textarea class="not-visible"></textarea>
            </label>
        </div>
        <div data-comp-id="div.5" style="width: 80%; margin: 10%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px;">
                <div class="col" data-comp-id="column.1">
                    <button class="button button-block" data-comp-id="button.3"
                        ng-click="reportissuefnc()" style="border-color: rgba(255, 255, 255, 0);">Submit</button>
                </div>
            </div>
        </div>
        <!--Form Contents-->
        <div></div>
    </ion-content>
</ion-view>